@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap');

$font_color: rgb(255, 255, 255);
$panel_background: rgba(80, 80, 80, 0.41);

body {
    color: $font_color;
    background-image: url('wall.jpg');
    background-size: cover;
    font-family: 'Fira Sans Condensed', sans-serif;
    font-weight: bold;
    
    .circle {
        display: block;
        position: absolute;
        opacity: 0.6;
        width: 15vh;
        height: 15vh;
        border-radius: 20%;
        right: 60vw;
        background-color: transparent;
        border: 3px solid $font_color;
        animation: slideDown 30s infinite;
    }

    .triangle {
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0.4;
        right: 12vw;
        border-left: 7vh solid transparent;
        border-right: 7vh solid transparent;
        border-bottom: 12vh solid $font_color;
        animation: slideUp 20s infinite;
      }

    .header {
        text-align: center;
        font-size: 40px;
        padding-top: 2%;
        padding-bottom: 2%;
        backdrop-filter: blur(2px);
    }

    .header::after {
        content: "";
        position: absolute;
        width: 0;
        height: 3px;
        top: 100%;
        left: 0;
        background: linear-gradient(90deg, $panel_background, $font_color);
        transition: width 0.5s;
    }

    .header:hover::after {
        width: 100%;
    }

    .container {
        display: flex;
        font-size: 36px;
        background-color: $panel_background;
        box-shadow: 0 8px 32px 0 rgba(26, 26, 32, 0.5);
        backdrop-filter: blur(5px);
        border-radius: 20px;
        border: 1px solid rgba(85, 85, 85, 0.5);
    }

    #description {
        font-size: 18px;
        text-align: justify;
    }

    #pic_container {
        position: relative;
    }

    #profile_pic {
        display: block;
        margin: auto;
        width: 60%;
        box-shadow: 0 8px 16px 0 rgba(85, 85, 85, 0.7);
    }

    #overlay {
        position: absolute;
        margin: auto;
        border-radius: 0px;
        opacity: 0;
        transition: 0.5s ease;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 58%;
        background-color: rgba(80, 80, 80, 0.85);

    }
    
    a {
        color: $font_color;
        text-decoration: none;
        position: relative;
        top: 40%;
        left: 40%;
    }

    a:after {
        content: "";
        width: 0;
        height: 3px;
        position: absolute;
        top: 85%;
        left: 0;
        background: linear-gradient(90deg, $panel_background, $font_color);
        transition: width 0.3s;
    }

    a:hover:after {
        width: 100%;
    }

    a:hover {
        color: $font_color;
    }

    #pic_container:hover #overlay{
        opacity: 1;
    }
}

@keyframes slideDown {
    0% {transform: translateY(-15vh) rotateZ(0deg)}
    50% {transform: translateY(70vh) rotateZ(-180deg)}
    100% {transform: translateY(-15vh) rotateZ(-360deg)}
}

@keyframes slideUp {
    0% {transform: translateY(70vh) rotateZ(0deg)}
    50% {transform: translateY(-15vh) rotateZ(180deg)}
    100% {transform: translateY(70vh) rotateZ(360deg)}
}